# Core GUI and Image Processing
opencv-python          # For webcam access and image manipulation
Pillow                 # For converting OpenCV images to Tkinter format
numpy                  # For mathematical operations on image arrays

# Benchmarking and Reporting
pandas                 # To create the comparison table for your report
matplotlib             # To generate the accuracy/speed charts

scikit-learn
kagglehub
joblib